/**
 * @file
 * Admin styling.
 */

.form-type-measurement .form-type-number,
.form-type-measurement .form-type-select {
  display: inline-block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.form-type-measurement .form-type-select select {
  padding-top: 0.13em;
  padding-bottom: 0.14em;
}
